*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.main h2{
    font-size: 40px;
    font-weight: 900;
    color: #fff;
}

textarea {
    border: 2px solid black;
    padding: 10px;
    font-size: 15px;
}

button {
    height: 50px;
    width: 150px;
    border-radius: 30px;
    border: none;
    font-size: larger;
    font-weight: 600;
    background-color: black;
    color: #fff;
}

h1{
    font-size: 100px;
    margin-bottom: 100px;
    text-decoration: underline;
}